if TARGET_SOCFPGA_ENCLUSTRA_AA1

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "mercury_aa1"

config SYS_VENDOR
	default "enclustra"

config SYS_CONFIG_NAME
	default "socfpga_mercury_aa1"

endif
